@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates';
}

.nav-visible {
  display: none;
}

.mobile-navigation {
  display: block;
  position: fixed;
  z-index: 998;
  width: 66%;
  right: 0;
  top: 0;
  background: #ffffff;
  height: 100vh;
  padding: 1em;
}

.mobile-navigation ul {
  display: block;
}

.mobile-navigation ul li {
  list-style: none;
  padding-bottom: 3em;
}

.mobile-navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar {
  background: none;
  padding: 1em;
  position: absolute;
  z-index: 999;
  width: 90%;
}

.navbar .container {
  display: flex;
  justify-content: flex-end;
}

.navbar .container nav ul li {
  list-style: none;
  padding-bottom: 3em;
}

.navbar .container nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

section.hero {
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

section.hero div.container-left {
  display: block;
  text-align: center;
}

section.hero div.container-left h1 {
  color: white;
  font-size: 4em;
  font-weight: bold;
}

section.hero div.container-left p {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top: -1.5em;
}

section.hero div.container-left a {
  color: white;
  text-decoration: none;
  background: linear-gradient(178.18deg, #fd4c7e -13.56%, #1c0cc7 158.3%);
  border-radius: 100px;
  padding: 1em;
  font-weight: bold;
}

section.hero div.container-left a:hover {
  background: linear-gradient(178.18deg, #ff7199 -13.56%, #3a2ec7 158.3%);
}

section.hero div.container-right {
  margin-top: 6em;
  margin-left: 3em;
}

section.about-me {
  display: flex;
  justify-content: center;
}

section.about-me .container-about-me {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 75vh;
  display: block;
  text-align: center;
  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #FD749B -13.56%, #281AC8 158.3%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

section.about-me .container-about-me img {
  width: 40%;
  margin: 2em 0 2em 0;
}

section.about-me .container-about-me h1 {
  font-weight: bold;
  color: black;
}

section.about-me .container-about-me p {
  color: black;
  font-weight: 500;
  margin: 0 2em 0 2em;
}

section.portfolio .container-portfolio {
  display: block;
  text-align: center;
}

section.portfolio .container-portfolio h1 {
  font-weight: bold;
  font-size: 4em;
}

section.portfolio .container-portfolio .korni .korni-left {
  background: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section.portfolio .container-portfolio .korni .korni-left p {
  margin-bottom: 2em;
}

section.portfolio .container-portfolio .korni .korni-left a {
  color: white;
  text-decoration: none;
  background: linear-gradient(178.18deg, #fd4c7e -13.56%, #1c0cc7 158.3%);
  border-radius: 100px;
  padding: 1em 2em 1em 2em;
  font-weight: bold;
}

section.portfolio .container-portfolio .korni .korni-left a:hover {
  background: linear-gradient(178.18deg, #ff7199 -13.56%, #3a2ec7 158.3%);
}

section.portfolio .container-portfolio .korni .korni-right {
  background: linear-gradient(178.18deg, #fda5be -13.56%, #877eeb 158.3%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section.portfolio .container-portfolio .korni .korni-right img {
  width: 70%;
  height: auto;
}

section.portfolio .container-portfolio .training .training-left {
  background: linear-gradient(178.18deg, #3b4efc -13.56%, #c5c0ff 158.3%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section.portfolio .container-portfolio .training .training-left img {
  width: 70%;
  height: 70%;
}

section.portfolio .container-portfolio .training .training-right {
  background: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section.portfolio .container-portfolio .training .training-right p {
  margin-bottom: 2em;
}

section.portfolio .container-portfolio .training .training-right a {
  color: white;
  text-decoration: none;
  background: linear-gradient(178.18deg, #fd4c7e -13.56%, #1c0cc7 158.3%);
  border-radius: 100px;
  padding: 1em 2em 1em 2em;
  font-weight: bold;
}

section.portfolio .container-portfolio .training .training-right a:hover {
  background: linear-gradient(178.18deg, #ff7199 -13.56%, #3a2ec7 158.3%);
}

section.stack .container-stack .dev, section.stack .container-stack .ui, section.stack .container-stack .teamwork {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 75vh;
  display: block;
  text-align: center;
  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #FD749B -13.56%, #281AC8 158.3%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

section.stack .container-stack .dev p, section.stack .container-stack .ui p, section.stack .container-stack .teamwork p {
  padding: 0 2em 0 2em;
}

section.stack .container-stack .dev img, section.stack .container-stack .ui img, section.stack .container-stack .teamwork img {
  max-width: 50%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    place-content: space-between;
  }
  .container img {
    z-index: 999;
    cursor: pointer;
  }
  .container .navigation {
    display: none;
  }
  .container-right {
    display: none;
  }
  section.about-me .container-about-me {
    margin: -4em 0 4em 0;
  }
  .container-about-me {
    width: 80%;
  }
  .korni {
    display: block;
  }
  .korni .korni-left {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .korni .korni-left h3 {
    padding-top: 2em;
  }
  .korni .korni-right {
    width: 80%;
    height: 50vh;
    margin: 0 auto 4em auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .training {
    display: block;
  }
  .training .training-left {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .training .training-right {
    width: 80%;
    height: 50vh;
    margin: -1em auto 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .training .training-right h3 {
    padding-top: 2em;
  }
  section.stack .container-stack {
    display: block;
  }
  section.stack .container-stack .dev, section.stack .container-stack .ui, section.stack .container-stack .teamwork {
    width: 80%;
    margin: 2em auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }
  .container img {
    display: none;
  }
  .container .navigation img {
    display: none;
  }
  .container .navigation ul {
    display: flex;
  }
  .container .navigation ul li {
    padding-left: 2em;
  }
  .container .navigation ul li a {
    color: white;
  }
  .container .navigation ul li a:hover {
    color: #eeeded;
  }
  .container-left {
    margin-top: 5em;
    margin-right: 3em;
  }
  section.about-me .container-about-me {
    margin: 0em 0 4em 0;
  }
  .container-about-me {
    width: 50%;
  }
  .korni {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }
  .korni .korni-left {
    width: 40%;
    height: 70vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .korni .korni-left h3 {
    margin: 2em 0 2em 0;
  }
  .korni .korni-left p {
    padding: 2em;
  }
  .korni .korni-right {
    width: 40%;
    height: 70vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .training {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }
  .training .training-left {
    width: 40%;
    height: 70vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .training .training-right {
    width: 40%;
    height: 70vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .training .training-right h3 {
    margin: 2em 0 2em 0;
  }
  .training .training-right p {
    padding: 2em;
  }
  section.stack {
    display: block;
  }
  section.stack .container-stack {
    display: flex;
    justify-content: space-between;
    margin: 2em;
  }
  section.stack .container-stack .dev, section.stack .container-stack .ui, section.stack .container-stack .teamwork {
    width: 30%;
  }
  section.stack .container-stack .dev img, section.stack .container-stack .ui img, section.stack .container-stack .teamwork img {
    margin: 1em;
  }
}
